@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    @apply object-cover;
  }
}

@layer components {
  .before {
    @apply before:absolute before:content-[''];
  }

  .after {
    @apply after:absolute after:content-[''];
  }

  .nav.open {
    @apply scale-y-100 origin-top;
  }

  .hamburger.close {
    div:first-child {
      @apply rotate-45 translate-y-2;
    }

    div:nth-child(2) {
      @apply opacity-0;
    }

    div:last-child {
      @apply -rotate-45 -translate-y-2;
    }
  }
}
